name: Run Cmd

on:
  workflow_dispatch:
    inputs:
      BRANCH_GIT_URL:
        description: 'BRANCH_GIT_URL to clone kernel source'
        required: true
        default: 'https://github.com/SN-Abdullah-Al-Noman/SM-A225X'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 1️⃣ Checkout code
        uses: actions/checkout@v2

      - name: 2️⃣ Installing packages.
        run: |
          cd /home/runner/work/Action_Kernel_Twrp_Compiler/Action_Kernel_Twrp_Compiler && ls
          sudo apt install -y git
          sudo ${{ secrets.GIT_CRED }}
 
      - name: 3️⃣ Cloning kernel source.
        run: |
          cd && sudo git clone -b E225FXXSADXE1 https://github.com/SN-Abdullah-Al-Noman/SM-E225F.git E225FXXSADXE1_BPF && cd E225FXXSADXE1_BPF && sudo rm -rf .git && sudo git init && sudo git add . && sudo git commit -m "E225FXXSADXE1_BPF" && sudo git branch -m E225FXXSADXE1_BPF && sudo git remote add origin https://github.com/SN-Abdullah-Al-Noman/SM-E225F.git

      - name: 4️⃣ Commits.
        run: |
          cd && sudo cp /home/runner/work/Action_Kernel_Twrp_Compiler/Action_Kernel_Twrp_Compiler/4.14_kernel_oneui8_bpf.patch ./E225FXXSADXE1_BPF/
          cd && cd E225FXXSADXE1_BPF && sudo git am 4.14_kernel_oneui8_bpf.patch && sudo rm -rf 4.14_kernel_oneui8_bpf.patch
          cd && cd E225FXXSADXE1_BPF && sudo git push -u origin E225FXXSADXE1_BPF
          
