name: Run Cmd

on:
  workflow_dispatch:
    inputs:
      BRANCH_GIT_URL:
        description: 'BRANCH_GIT_URL to clone kernel source'
        required: true
        default: 'gpu https://github.com/SN-Abdullah-Al-Noman/SM-A225X'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 1️⃣ Checkout code
        uses: actions/checkout@v2

      - name: 2️⃣ Installing packages.
        run: |
          cd && ls && pwd
          sudo apt install -y git
          sudo bash -c ${{ secrets.GIT_CRED }}
 
      - name: 3️⃣ Cloning kernel source.
        run: |
          cd && sudo git clone -b A225FXXSBDYE2 https://github.com/SN-Abdullah-Al-Noman/SM-A225X.git A225FXXSBDYE2_BPF && cd A225FXXSBDYE2_BPF && sudo git init && sudo git add . && sudo git commit -m "A225FXXSBDYE2_BPF" && sudo git branch -m A225FXXSBDYE2_BPF
          
      - name: 4️⃣ Commits.
        run: |
          cd && ls && pwd
          cd && cd A225FXXSBDYE2_BPF
          
